@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

ul, li {
	list-style: none;
}

/*index main visual css*/
.main_visual {
	clear:both;
	background: url(../images/main1.jpg) no-repeat center center;
	height:610px;
	background-size:cover;
	animation:zoomin 20s 0.3s ease-out;
}
@keyframes zoomin {
	0% {transform:scale(1);}
	50% {transform:scale(1.2);}
	100% {transform:scale(1);}
}

.header_box {
	border-bottom-color: #e1e1e1;
	border-bottom-style: solid;
	border-radius: 0.5px;
}

.top_navigation {
	height: 45px;
	width: 1100px;
	margin: 0 auto;
}

.top_navigation .top_left {
	float: left;
}

.top_navigation .top_left ul li {
	float: left;
	width: 110px;
	height: 45px;
	line-height: 45px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.top_navigation .top_left ul li.first {
	border-left: 1px solid #e1e1e1;
}

.top_navigation .top_right {
	float: right;
}

.top_navigation .top_right ul li {
	float: left;
	width: 110px;
	height: 45px;
	line-height: 45px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.top_navigation .top_right ul li.first {
	border-left: 1px solid #e1e1e1;
}

.gnb_group {
	clear: both;
}

.logo {
	float: left;
	font-size: 22px;
	color: #000;
	padding-top: 25px;
}

.gnb_group .gnb {
	float: right;
}

.gnb_group .gnb ul li {
	float: left;
	display: inline-block;
	height: 84px;
	line-height: 84px;
	display: inline-block
}

.gnb_group .gnb ul li a {
	padding: 0 26px;
}

.sub_title {
	clear: both;
	background: #eee;
	padding: 110px 0;
}

.sub_title h2 {
	text-align: center;
	font-size: 40px;
}

.container {
	clear:both;
	width: 1100px;
	margin: 0 auto;
	padding: 20px 0;
}

.container .contain_left {
	width:60%;
	float:left;
}

.container .contain_left .contain_left_contents {
   width:100%;
}

.container .contain_left .contain_left_contents h2 {
	padding:20px 0;
}

.container .contain_left .contain_left_contents p {
	color:#666;
	padding-bottom:40px;
	line-height:180%;
}

.container .contain_left .contain_left_contents .wleft{
	float: left;	
	padding-right:30px;
}

.container .contain_left .contain_left_contents .info_right {
	float: left;
	padding-top:15px;
}

.container .contain_right {
	width : 30%;
	float : right;
}

.container .contain_right h2{
	padding:10px 0;
	margin-top:30px;
	font-size:20px;
	border-top:2px solid #333;
	border-bottom:2px solid #333;
}

.container .contain_right ul li{
	height: 50px;
	padding : 15px 0;
	border-bottom:1px solid #ccc;
}

.container .contain_right ul li a {
	width : 60%;
	display:inline-block;
}

.container .contain_right ul li img {
	width : 30%;
	height: 50px;
	float : right;
	padding : 0 10px;
}

.container .inner {
	margin-right: 5.5%;
	padding: 13px;
	width: 27%;
	float: left;
}

.container .inner:nth-child(3n) {
	margin-right: 0;
}

.container .inner .img100 {
	width: 100%;
	height: 257px;
	overflow: hidden;
}

.container .inner .img100 img {
	width: 100%;
	transition: all 0.3s ease-out;
}

.container .inner .img100 img:hover {
	transform: scale(1.2);
}

.container .inner h3 {
	padding: 16px 0;
	font-weight: bold;
}

.container .inner p {
	color: #333;
}

.container .inner p.text_footer {
	padding: 16px 0;
}

.paging {
	clear: both;
	padding-top: 50px;
	text-align: center;
}

.paging a {
	padding: 10px;
	border: 1px solid #e0e0e0;
}

.paging a.active {
	background: #007dc6;
	color: #fff;
}

.paging .btn_write {
	float: right;
}

.paging .btn_write a {
	background: #f78181;
	padding: 10px 16px;
	color: #fff;
}

.footer {
	clear: both;
	background: #42464d;
	padding-top: 80px;
	padding-bottom: 65px;
	margin-top: 60px;
}

.footer p {
	width: 1100px;
	margin: 0 auto;
	color: #aaa;
}

/* blog write css*/
.container .write_inner {
	width:100%;
}

.container .write_inner .blog_table {
	width:100%;
	
}

.container .write_inner .blog_table th{
	background:#f7f8fc;
	padding:10px;
	border-bottom:1px solid #ddd;
}

.container .write_inner .blog_table td{
	padding:10px;
	border-bottom:1px solid #ddd;
}

input[type='text'],
input[type='password'],
input[type='file'],
textarea {
	padding:0 5px;
	height:36px;
	border:1px solid #ccc;
	width:100%;
}

button[type='submit'] {
	width:80px;
	height:33px;
	background:#007dcb;
	border:0 none;
	color:#fff;
}

button[type='reset'] {
	width:80px;
	height:33px;
	background:#A00;
	border:0 none;
	color:#fff;
}

button[type='button']{
	width:80px;
	height:33px;
	background:#ccc;
	border:0 none;
	color:#fff;
}

.txtcenter {
	text-align:center;
}

/* view css */

.container .view_inner {
	text-align:center;
	margin-bottom:20px;
}

.container .view_inner h2 {
	font-size : 32px;
	margin-bottom:16px;
}

.container .view_inner .info {
	font-size : 18px;
	padding-bottom:16px;
	margin-bottom:32px;
	border-bottom:1px solid #ccc;
}

.container .view_inner .view_body {
	margin-bottom:20px;
	line-height:180%;
}

.container .view_inner img {
	width:20%;
}

.container .button_box {
	text-align:center;
	padding:30px 0;
	border-top:1px solid #ccc;
}

.container .button_box a {
	display:inline-block;
	padding:5px 10px;
	border:1px solid #ccc;
	background:#eee;	
}

/*about css*/
.container .about_contain {
	padding:30px 0;
	height:auto;
	overflow:hidden;
	background:#f8f9fa;
}

.container .about_contain .about_contain_left {
	width:55%;
	float:left;
	height:610px;
	background: url(../images/m_012.jpg) no-repeat center center;
	background-size:cover;
	padding:30px 30px;
	margin-left:20px;
}

.container .about_contain .about_contain_right {
	width:30%;
	float:left;
	text-align:center;
}

.container .about_contain .about_contain_right h2 {
	font-size:22px;
	color:#333;
	padding: 12px 0;
}

.container .about_contain .about_contain_right .about_right_content p {
	color:#888;
	
}

/*concat css*/
.container .concat_left {
	float:left;
	width:50%;
	background:#f8f9fa;
	height:460px;
	padding : 15px 15px;
}

.container .concat_left table {
	width:100%;
}

.container .concat_right {
	float:left;
	
	width:46%;
	background:#00f;
	height:600px;
}

.container:after {
	content:"";
	display:block;
	clear:both;
}
