@charset "UTF-8";

.header-index .row {
	height:200px;
}

.header-index .row img{
	width:100%;
	height:200px;
}

.header-index .site-search {
	padding-top:70px;
}

.header-index .member {
	padding-top:78px;
}

.header-index .form-control {
	width:400px;
}